:root {
  --vp-layout-max-width: 1280px;
}

.VPDoc:not(.has-sidebar) .container {
  max-width: 1192px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 952px !important;
}

.VPDoc.has-aside .content-container {
  max-width: 952px !important;
}
